*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
  }

body{
    background-color: #1B1B1B;
}
header{
   padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
/* LEFT MENU' */
.left_menu{
    display: flex;
    align-items: center;
}
.logo{
    width: 200px;
    margin-right: 2rem;
}
ul>li{
    list-style: none;
    display:inline
}
ul>li>button {
    background: none;
	border: none;
	outline: inherit;
    color: #707070;
    font-size: 1.3rem;
    margin-right: 1rem;
}

/* RIGHT MENU' */
.right_menu{
    display: flex;
    align-items: center;
}
.search_btn{
    background: none;
	border: none;
	outline: inherit;
   
}
.search_bar{
    border-radius: 0.5rem;
    padding:0.2rem 1rem;
    font-size: 1.1rem;
}
.right_menu, .search_btn{
  color: #F0F5F5;
  font-size: 1.3rem;
}
.right_menu>*{
    margin-right: 1.2rem;
}
.right_menu>img{
    width: 40px;
    margin-right: 0.5rem;
}
.fa-sort-down{
    font-size: 0.8rem;
}
main{
    padding:2rem;
    margin: auto;
}

h2{
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}

.error{
    color: #707070;
    font-size: 2rem;
}

.cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.card{
    width: 20%;
    min-width: 200px;
    max-width: 400px;
    margin-bottom: 2rem;
}

.card > img{
    width: 95%;
    min-height: calc(width * 1.46);
    
}
