*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
  }

body{
    background-color: #1B1B1B;
}
header{
   padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
/* LEFT MENU' */
.left_menu{
    display: flex;
    align-items: center;
}
.logo{
    width: 200px;
    margin-right: 2rem;
}
ul>li{
    list-style: none;
    display:inline
}
ul>li>button {
    background: none;
	border: none;
	outline: inherit;
    color: #707070;
    font-size: 1.3rem;
    margin-right: 1rem;
}

/* RIGHT MENU' */
.right_menu{
    display: flex;
    align-items: center;
}
.search_btn{
    background: none;
	border: none;
	outline: inherit;
   
}
.search_bar{
    border-radius: 0.5rem;
    padding:0.2rem 1rem;
    font-size: 1.1rem;
}
.right_menu, .search_btn{
  color: #F0F5F5;
  font-size: 1.3rem;
}
.right_menu>*{
    margin-right: 1.2rem;
}
.right_menu>img{
    width: 40px;
    margin-right: 0.5rem;
}
.fa-sort-down{
    font-size: 0.8rem;
}
main{
    padding:2rem;
    margin: auto;
}

h2{
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}

.error{
    color: #707070;
    font-size: 2rem;
}

.cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.card{
    position: relative;
    width: 19%;
    margin: auto;
    max-width: 400px;
    min-width: 250px;
    min-height: 400px;
    margin-bottom: 2rem;
}

.card > img{
    
    height: 100%;
   
}
.retro{
   
    color: white;
    height: 100%;
    position: absolute;
    top:0;
    width: 95%%;
   opacity: 0;
   background-color: #371d1d;
   padding: 1.5rem;
   display: flex;
   flex-direction: column;
}
.retro:hover{
    opacity: 1;
}

.card >img:hover{
    opacity: 0;
}
.retro >*{
    padding-bottom: 0.5rem;
}
.title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.stars>*{
   font-size: 1rem;
    color: rgb(75, 75, 24);
}
.overview{
    overflow: auto;
    height: 50%;
}